<p id="notice"><%= notice %></p>

<p>
  <strong>ID:</strong>
  <%= @order.id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>user_id:</strong>
  <%= @order.user_id %>
</p>





<%= link_to 'Back', orders_path %>
