<% @line_items.each do |line_item| %>
    <% book = line_item.book %>
    <div>
        <p><%= book.title %></p>
        <p><%= line_item.quantity %></p>
        <p>
            <%= number_to_currency line_item.total_price, precision: 0, unit: "", format:"%u %n" %>
            <span>円（税込）</span>
        </p>
    </div>

<% end %>

<div>
    <p>合計 <%= @cart.total_number %><span>冊</span></p>
    <p>
        <%= number_to_currency @cart.total_price, precision: 0, unit: "", format: "%u %n" %>
        <span>円（税込）</span>
    </p>
</div>

    <% if @line_items.count == 0 %>
        買い物かごには何も入っていません。
    <% else %>
        <%= link_to '購入する', new_order_path %>
        <%= link_to '買い物かごを空にする', @cart, method: :delete, data: { confirm: '買い物かごの中身を全て削除してもいいですか？'} %>
    <% end %>

