<h1> BOOK</h1>


<%= search_form_for @q do |f| %>
    <%= f.text_field :title_or_author_cont %>
    <%= f.submit %>
<% end %>




<% @books.each do |book| %>
<p>
    <table class = "table table-striped">
    <%= number_to_currency(book.try(:price),precison: 0, unit:"å††") %>
    <% if current_favorite?(book) %>
        <%='â˜†'%>
    <% else %>
        <%= link_to 'ãŠæ°—ã«å…¥ã‚Šã€€', check_items_path(book_id: book.id),method: :post,class: 'btn-default' %>
        <%= link_to 'ã‚«ãƒ¼ãƒˆã«å…¥ã‚Œã‚‹', line_items_path(book_id: book.id),method: :post,class: 'btn-default' %>
    <% end %>
    <%= link_to book.title, product_path(book.id),class: 'btn-default' %>
    <%= book.author %>
    <%= link_to 'è³¼å…¥', new_order_path(book_id: book.id),class: 'btn-default' %>
    
    </table>
</p>
<% end %>
    <%= link_to 'ðŸ›’', cart_path(@cart.id),class: 'btn-default' %>

