<h1>orders</h1>

<div class="col-12 col-md-9">
  <div class="row agw_detail-block_row">
    <div class="col-6 col-md-4">
    </div><!--/span-->
    <div class="col-6 col-md-8">
      <h3 class="agw_dt_book-ttl"><%= @product.title %></h3>
      <p class="agw_dt_date">出版：<%= @product.published_on %></p>
      <p class="agw_dt_author"><%= @product.author %></p>
      <p class="agw_dt_plice"><%= number_to_currency @product.price, precision: 0, unit: "", format: "%u %n" %><span>円</span></p>
      <p class="agw_dt_buy-button">
        <%= link_to 'カートに入れる', line_items_path(book_id: @product.id), html_options = {method: :post, class: "btn btn-lg btn-warning", "aria-pressed"=>"true"} %>
      </p>
        <p class="agw_dt_img">
        <% if @product.picture.present? %>
          <%= image_tag @product.picture, width: 400 %>
        <% else %>
          <%= image_tag "http://placehold.jp/400x550.png" %>
        <% end %>
         </p>
    </div>
  </div><!--/row-->
</div><!--/span-->

    


